// import bootstrap

// theme colours
$blue: #0d6efd;
$blue-navy: #003366;
$blue-sea: #34b0bd;
$blue-sea-lighter: rgb(66, 223, 241);
$blue-azure: #0180ff;
$blue-sky: #0180ff;
$indigo: #6610f2;
$purple: #6f42c1;
$purple-dark: #9926f0;
$purple-light: #bb6ef5;
$pink: #d122e3;
$red: #dc3545;
$green: #198754;
$green-sea: #4ab096;
$green-sea-lighter: rgb(96, 228, 194);
$teal: #20c997;
$cyan: #0dcaf0;

$primary: $purple-dark;
$secondary: $pink;

// greyish colours
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

html {
  font-size: 62.5%;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
