@use '../customise' as *;
@use '../mixins' as *;

.container-nav {
  padding: 0 3rem;
}

.navbar {
  color: $white;
  font-size: 1.35rem;
  font-weight: 500;
  box-shadow: 0 2px 7px 0.5px $gray-700;
  padding: 2rem;
  @include gradient($primary, $secondary);

  &-nav {
    align-items: center;
  }

  .logo {
    width: 5rem;
  }

  .nav-item {
    margin-left: 0.5vw;
  }

  .nav-link {
    color: $white !important;
    transition: color 0.5s;
    &:hover {
      color: $gray-500 !important;
    }
  }

  @media screen and (max-width: 768px) {
    .nav-item {
      margin-top: 1rem;
      font-size: 2rem;
      &--btn {
        display: none;
      }
    }
  }
}
