@use '../customise' as *;
@use '../mixins' as *;

.btn {
  // Vanilla
  margin-left: 1vw;
  padding: 0.4rem 0.2rem 0.4rem 1rem;
  transition: transform 0.3s, background-color 0.3s;
  .btn__description {
    white-space: nowrap;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    outline: none !important;
  }

  // Skins
  &--icon {
    @include flex(space-between, center);
    @include container_skin($white, $black, 1.5rem);
    outline: none;

    &:hover {
      @include container_skin($blue-navy, $white);
    }

    .icon-container {
      margin-left: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      position: relative;
      @include container_skin($secondary, $white, 1.2rem);
      @include flex(center, center);
    }
  }

  &--nav {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
